
  body {
    background-color: #EAF6F6;
  }
h1{
    font-family: cursive;
    color:purple;
}
h3{
    color:purple;
}
  hr {
    border-style: none;
border-bottom:   dotted ;
border-color: white;

    border-width: 10px;
    width: 30%;
  }

  .button-styled {
    color:blue;

  }
